.goBack {
	/*background: rgba(0, 0, 0, 0) url("../img/back.png")no-repeatscrolllefttop;*/
	color: #666;
	cursor: pointer;
	display: inline;
	float: left;
	font-weight: bold;
	height: 33px;
	line-height: 33px;
	margin-left: 10px;
	overflow: hidden;
	/*text-indent: 35px;*/
	width: 63px;
}
}